.mat-toolbar {
  background-color: darkorchid;
  font-family: 'Grandstander', cursive;
}

.mat-menu-item {
  font-family: 'Grandstander', cursive;
  color: black;
}

.title {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
}
