<mat-toolbar>
  <div class="left">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with menu ">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <a routerLink='space'>
        <button mat-menu-item>
          <mat-icon>auto_awesome</mat-icon>
          <span>Cats in Space</span>
        </button>
      </a>
      <a routerLink='glasses'>
        <button mat-menu-item>
          <i class="fas fa-sink"></i>
          <mat-icon>pets</mat-icon>
          <span>Cats in Glasses</span>
        </button>
      </a>
      <a routerLink='boxes'>
        <button mat-menu-item>
          <mat-icon>inventory_2</mat-icon>
          <span>Cats in Boxes</span>
        </button>
      </a>
      <a routerLink='sinks'>
        <button mat-menu-item>
          <mat-icon>countertops</mat-icon>
          <span>Cats in Sinks</span>
        </button>
      </a>
      <a routerLink='clothes'>
        <button mat-menu-item>
          <mat-icon>checkroom</mat-icon>
          <span>Cats in Clothes</span>
        </button>
      </a>

    </mat-menu>
  </div>

<div class="center">
  <a routerLink="/home" routerLinkActive="active">
    <span class="title" >InstaCat</span>
  </a>
</div>

  <div class="right">

    <a routerLink="/favorites" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      <span>Your Faves</span>
    </a>
  </div>


</mat-toolbar>
