.mat-toolbar {
  background-color: darkorchid;
  font-family: 'Grandstander', cursive;
  display:flex;
}

.mat-menu-item {
  font-family: 'Grandstander', cursive;
  color: black;
}

.left {
  margin-right: auto;
}

.center {
  font-size: 2em;
  position: absolute;
    left: 50%;
  transform: translatex(-50%);

}

.right {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: black;
}
