<div>
  <mat-card class="cat-card" *ngIf="cat">
    <img mat-card-image [src]="catImg" alt="Photo of a cat">
    <mat-card-actions>
      <div class="buttons">
        <a (click)="goToCatView(cat.id)">
          <button id="comments"
                  mat-raised-button
                  matTooltip="View the Comments"
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-teal"
                  aria-label="Go to Comments">
            <mat-icon>comment</mat-icon>
          </button>
        </a>

        <a (click)="favorite(cat.id)">
          <button class="favorite"
                  mat-raised-button
                  matTooltip="Add to Your Favorites"
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-teal"
                  aria-label="Favorite">
            <mat-icon>favorite</mat-icon>
          </button>
        </a>

      </div>

    </mat-card-actions>

  </mat-card>

</div>
