.mat-card {
  background-color: #66009a;
  margin-bottom: 0%;
}

.mat-card-actions {
  text-align: center;
  margin-top: -20px;
}

.comments {
  width: 47%;
  background-color: #69e2ff;
  padding: 1%;
  margin: 2%;
  cursor: pointer;
  border: transparent;
}

.favorite {
  width: 47%;
  background-color: #69e2ff;
  padding: 1%;
  margin: 2%;
  cursor: pointer;
  border: transparent;
}
