<div>
  <mat-card *ngIf="cat">
    <img mat-card-image [src]="catImg" alt="Photo of a cat">
    <mat-card-actions>
      <a (click)="goToCatView(cat.id)">
        <button class="comments" mat-raised-button aria-label="Go to Comments">
          <mat-icon>comment</mat-icon> Comments
        </button>
      </a>
      <button class="favorite" mat-raised-button aria-label="Favorite">
        <mat-icon>favorite</mat-icon>Add to Favorites
      </button>
    </mat-card-actions>

  </mat-card>

</div>
