<div class="big-container">

    <mat-card class="left" *ngIf="cat">
      <mat-card-content>
        <img mat-card-image [src]="catImg" alt="Photo of a cat">
      </mat-card-content>
      <mat-card-actions>
        <a (click)="favorite(cat.id); openSnackBar()">
          <button class="favorite"
                  mat-raised-button
                  matTooltip="Add to Your Favorites"
                  matTooltipPosition="above"
                  matTooltipClass="tooltip-teal"
                  aria-label="Favorite">
            <mat-icon>favorite</mat-icon>
          </button>
        </a>
      </mat-card-actions>
    </mat-card>


    <div class="right">
      <app-comments></app-comments>
    </div>
</div>
